openapi: 3.0.3
info:
  title: API - Document Upload (Drive-focused)
  version: 1.0.0
  description: Contrato mínimo para el flujo de subida de PDFs a Google Drive (molde operativo).
servers:
  - url: https://api.tu-dominio.com
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    JobStatus:
      type: object
      properties:
        jobId:
          type: string
        status:
          type: string
          enum: [queued, processing, completed, failed]
        progress:
          type: integer
          format: int32
          description: progreso aproximado en %
        result:
          type: object
          nullable: true
        error:
          type: object
          nullable: true
paths:
  /api/documents/upload:
    post:
      summary: Subir documento (multipart) - encola job para Drive
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                fileName:
                  type: string
                  example: Reporte_Mensual.pdf
                expedienteId:
                  type: string
                  description: Identificador del expediente
              required: [file, expedienteId]
      responses:
        '202':
          description: Job aceptado
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                  status:
                    type: string
                    example: queued
        '400':
          description: Invalid input / validation error
        '401':
          description: Unauthorized
        '413':
          description: Payload too large

  /api/jobs/{jobId}:
    get:
      summary: Obtener estado de job
      security:
        - bearerAuth: []
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Estado del job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
        '404':
          description: Job no encontrado
        '401':
          description: Unauthorized
security:
  - bearerAuth: []
